<title>Decal City</title>
</head>
<body>
  <div>
    <header>
      <h1>Decal City</h1>
      <p>Your dreams brought to life...</p>
      <nav>
        <ul>
          <li class='homelink'><a href="/">Home</a></li>
          <li class='gallerylink'><a href="gallery">Gallery</a></li>
          <li class='aboutlink'><a href="about">About</a></li>
          <li class='contactlink'><a href="contact">Contact</a></li>
        </ul>
      </nav>
    </header> 