<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lord Tapulao</title>
    <link rel="stylesheet" href="styles/reset.css">
    <link href="styles/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/contactStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700,800,900&display=swap" rel="stylesheet">
</head>
<body class="bodyContainer">
    <main>
        <section id="contact">
            <h1 class="contactHeading">Send me a message?</h1>
            <img class="formCharacter head" src="assets/characterBits/head.png" alt="">
            <img class="formCharacter eyes" src="assets/characterBits/eyes.png" alt="">
            <img class="formCharacter leftHand" src="assets/characterBits/leftHand.png" alt="">
            <img class="formCharacter rightHand" src="assets/characterBits/rightHand.png" alt="">
            <form action="https://formspree.io/mdokywdb" method="POST">
                <label for="email">
                    Email :
                </label>
                <input id="email" type="text" name="_replyto">
                <label for="message">
                    Message :
                </label>
                <textarea id="message" name="message"></textarea>
                <button type="submit">Send message</button>
            </form>
        </section>
    </main>
    <%- include partials/footer %>
</body>
<script src="JavaScript/animatePeeking.js"></script>
</html>