*{
    font-family: 'Raleway', sans-serif;
    color:snow;
    cursor:default;
}

html {
  scroll-behavior: smooth;
}

body{
    background:linear-gradient(dodgerblue, rebeccapurple);
    background-blend-mode: color-burn;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    background-repeat:no-repeat;
}
/*@@@@@@@@@@@@@@@@ MAIN @@@@@@@@@@@@@@@@@@@@@@*/

main{
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

section{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionHeading{
    font-size:4vmax;
    text-align:center;
    margin-bottom:5vmin;
}

/*@@@@@@@@@@@@@@@@ CONTACT @@@@@@@@@@@@@@@@@@@@@@*/


#contact{
    padding:5vw 15vw 10vw 15vw;
}

.contactHeading{
    margin:0 0 5vw 0;
    font-size:4vmax;
    color:white;
    text-align:center;
}


form{
    border-radius:20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    padding:4vmax 2vmax 5vmax 2vmax;
    display:flex;
    flex-direction: column;
}

input,label,textarea,button{
    border-radius: 10px;
    color:white;
    resize:none;
    margin:1vw 2vw;
    font-size:1.5vmax;
}

input{
    border:2px solid lightgray;
    width:30vmax;
    padding:.5vw;
}

textarea{
    border:2px solid lightgray;
    width:30vmax;
    height:20vw;
    padding:.5vw;
}

button{
    background:transparent;
    border:2px solid white;
    padding:1vw 0;
    color:white;
    transition:0.4s;
}

button:hover{
    border:2px solid skyblue;
    color:skyblue;
    padding:1vw 0;
    transition:0.4s;
}


/*@@@@@@@@@@@@@@@@ FOOTER @@@@@@@@@@@@@@@@@@@@@@*/

footer{
    background:black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer ul {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer ul li {
    margin:2vw 1vw 0vw 1vw;
}


footer p{
    padding:2vh 0 2vh 0;
}

@media only screen and (max-width: 600px) {  
    #contact{
        padding:0;
        height:100vh;
    }

    .contactHeading{
        margin:0 0 5vh 0;
        font-size:4vmax;
        color:white;
        text-align:center;
    }

    .contactHeading{
        margin:0 0 5vh 0;
        font-size:4vmax;
        color:white;
        text-align:center;
    }

    form{
        border-radius:20px;
        box-shadow: 0 0 0;
        padding:0;
        display:flex;
        flex-direction: column;
    }

    input,label,textarea,button{
        border-radius: 10px;
        color:white;
        resize:none;
        margin:1vh 2vw;
        font-size:2vmax;
    }

    input{
        border:2px solid lightgray;
        width:70vw;
        padding:.5vw;
    }

    textarea{
        border:2px solid lightgray;
        width:70vw;
        height:30vh;
        padding:.5vw;
    }

    button{
        background:transparent;
        border:2px solid white;
        padding:2vh 0;
        color:white;
        transition:0.4s;
    }

    button:hover{
        border:2px solid skyblue;
        color:skyblue;
        padding:2vh 0;
        transition:0.4s;
    }

     
    footer{
        background:black;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    footer ul {
        width:100%;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    footer ul li {
        margin:2vw 1vw 0vw 1vw;
        transform: scale(0.5);
    }
    
    
    footer p{
        padding:2vw 0 2vw 0;
    }
}